@font-face {
    font-family: 'OpenSans-Regular';
    src:
            url('../fonts/OpenSans-Regular.woff2') format('woff2'),
            url('../fonts/OpenSans-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src:
            url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
            url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src:
            url('../fonts/OpenSans-Bold.woff2') format('woff2'),
            url('../fonts/OpenSans-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}


:root {
    --Bl: black;
    --Bl33: #333;
    --CA: #CACACA;
    --EC: #ECECEC;
    --B99: #999999;
    --white: white;
    --input: rgba(255, 255, 255, 0.85);
    --purpleVeryLight: #D1A9F0;
    --purpleLight: #C283F3;
    --purpleNormal: #9d5cd0;
    --purpleDark: #7943A4;
    --invisible: rgba(0, 0, 0, 0);
}

* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'OpenSans-Regular', sans-serif;
    line-height: 32px;
    font-size: 16px;
    background: var(--white);
    color: var(--Bl33);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

:focus {
    outline: none;
}

.network__item,
.logo__item {
    cursor: pointer;
    transition: transform .7s ease-in-out;
}

button,
span,
a {
    font-family: 'OpenSans-Regular';
}

button {
    cursor: pointer;
    border: none;
    background: var(--invisible);
    transition-property: background, border;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

input,
button:focus,
button:active {
    border: none;
    outline: none;
}

p {
    margin: 0;
}

a {
    color: var(--white);
    text-decoration: none;
    transition: color .4s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

address {
    font-style: normal;
}

.main-container {
    max-width: 1630px;
    padding: 0 15px;
    margin: 0 auto;
}

.main-container--theme--flex {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
    width: 100%;
}

.main-container--fon--logo {
    background-image: url(../svg/Blanchard.svg);
    background-repeat: no-repeat;
    background-position: 1% 0%;
}

/* Делаем секцию шапки нашей старницы */

.header {
    position: absolute;
    left: 0;
    right: 0;
    color: var(--white);
    z-index: 1;
}

.header-top {
    display: flex;
    align-items: center;
    padding: 30px 0;
    background-color: var(--Bl);
    font-size: 19px;
}

.header-top .main-container {
    height: 40px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    padding: 22px 0;
}

.header-top__burger,
.header-top__search,
.events__pagination {
    display: none;
}

.header-top__search {
    width: 30px;
    height: 29px;
    background-image: url(../svg/header__search.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-logo {
    width: 221px;
}

.header-logo {
    margin-right: 178px;
}

.header-top__navigate {
    display: inherit;
    justify-content: flex-end;
    width: 100%;
}

.header-top__list {
    display: inherit;
    margin-right: 272px;
}

.header-top__list>:last-child {
    margin-right: 0;
}

.header-top__item {
    margin-right: 58px;
    font-weight: 600;
}

.header-navigate__link:focus,
.header-top__link:focus,
.header-bottom__item .is-focused,
.header-bottom__searchContainer:focus,
.contacts__button:focus span,
.events__button:focus span,
.header-bottom__input:focus,
.directions-list__button:focus,
.gallery-left-info__link:focus,
.events__link:focus,
.catalog-accordion__button:focus,
.projects__link:focus{
    outline: 2px solid var(--purpleDark);
}

.header-navigate__link:hover,
.header-top__link:hover,
.header-bottom__input:focus,
.directions-list__button:hover {
    color: var(--purpleLight);
}

.header-navigate__link:active,
.directions-list__button:active,
.header-top__link:active,
.header-bottom__item:hover{
    color: var(--purpleNormal);
}

.header-top__link:focus {
    padding: 0 5px 0 9px;
}

.header-top__link::before {
    margin-right: 7px;
}

.header-top__link:hover::before {
    content: url(../svg/Header__go_hover.svg);
}

.header-top__link:active::before {
    content: url(../svg/Header__go_active.svg);
}

.header-top__link::before {
    content: url(../svg/Header__go.svg);
}

.directions-list {
    display: inline-block;
}

.directions-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 18px;
    line-height: 25px;
}

.directions-list:last-child {
    margin-right: 0;
}

.directions-list__item {
    display: inherit;
    flex-wrap: wrap;
    cursor: pointer;
    margin-right: 97px;
}

.directions-list__button {
    width: 100%;
    padding: 0;
    color: var(--white);
}

.directions-list__button::after {
    content: url(../svg/header__bottom__list-item.svg);
    margin-left: 3px;
}

.directions-list__button:hover::after {
    content: url(../svg/Header__bottom_list-item_hover.svg);
}

.dropdawn__list {
    position: absolute;
    padding: 40px;
    bottom: -300px;
    height: 300px;
    width: 300px;
    background: rgba(0, 0, 0, 0.6);
}

.dropdawn__list:last-child {
    margin-bottom: 0;
}

.dropdawn__item {
    position: relative;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7px 14px;
    margin-bottom: 20px;
}

.dropdawn__item::after,
.dropdawn__item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropdawn__item:hover::after {
    border: 2px solid var(--purpleNormal);
}

.dropdawn__item:active::before {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    border: 2px solid var(--purpleVeryLight);
}

.header-bottom__form {
    display: flex;
    position: relative;
    align-items: center;
    width: 221px;
}

.header-bottom__button {
    position: absolute;
    top: 4px;
    left: -30px;
    width: 20px;
    height: 20px;
    background-image: url(../svg/Header-bottom__search.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-bottom__button:focus {
    outline: 2px solid var(--purpleNormal);
}

.header-bottom__input {
    width: 100%;
    padding-bottom: 6px;
    background-color: var(--invisible);
    border-bottom: 1px solid var(--input);
}

.header-bottom__input:hover {
    border-bottom: 1px solid #C283F3;
}

.header-bottom__input:hover+.header-bottom__button svg path,
.header-bottom__input:hover+.header-bottom__button svg rect {
    fill: var(--purpleLight);
}

.header-bottom__input::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: var(--input);
}


/* Начинаем делать секцию хеадер */

@keyframes hero {
    from {
        background-size: 100% 100%;
    }
    to {
        background-size: 200% 200%;
    }
}

.hero {
    position: relative;
    padding: 240px 0 122px;
    background-image: url(../img/Hero/Hero__foto-1.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    color: var(--white);
    font-style: normal;
    animation-name: hero;
    animation-delay: 0s;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.hero__title {
    margin-bottom: 18px;
    max-width: 588px;
    font-size: 72px;
    line-height: 83px;
    font-weight: 700;
}

.hero__text {
    max-width: 579px;
    margin-bottom: 86px;
    font-size: 20px;
}

.hero__button {
    padding: 20px 42px;
    color: inherit;
    background-color: var(--purpleNormal);
    border-radius: 100px;
    font-size: 18px;
    line-height: 25px;
    border: 3px solid var(--purpleNormal);
}

.hero__button:active {
    background-color: var(--purpleDark);
}

.hero__button:hover {
    border: 3px solid var(--purpleVeryLight);
}

.hero__button:focus {
    border: 3px solid var(--purpleDark);
}

.company {
    padding: 80px 0 70px 0;
}

.company__title {
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 66px;
}

.company__text {
    display: inline-block;
    max-width: 1080px;
    line-height: 32px;
}


/* Стили для секции галерея */

.gallery {
    display: flex;
    padding: 80px 0;
    color: var(--white);
    background-image: url(../img/Gallery/gallery__fon.jpg);
}

.gallery-left-info__title {
    margin-bottom: 15px;
}

.choices__list--single>.gallery-left-info__title {
    margin-bottom: 17px;
}

.choices[data-type*=select-one]:after {
    content: none !important;
}

.gallery-left {
    position: relative;
    width: 400px;
    margin-right: 50px;
}

.gallery-filter {
    width: 100%;
}

.gallery-filter__title {
    margin-bottom: 10px;
    font-size: 17px;
}

.choices {
    max-height: 120px;
    margin: 0;
}

.choices__inner {
    padding: 0 !important;
    border: none !important;
}

.choices__list--single {
    padding: 0;
}

.choices__list {
    position: relative;
    border: none;
}

.choices__list--dropdown,
.choices__inner,
.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: var(--invisible);
}

.choices__item {
    padding: 0 0 5px 14px !important;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--white);
}

.choices__item::after {
    content: url(../svg/gallery__select.svg);
    position: absolute;
    right: 10px;
}

.gallery-left-info__more {
    margin: auto;
    position: absolute;
    left: 0;
    bottom: -10px;
    max-width: 387px;
    font-weight: 600;
}

.gallery-left-info__link,
.gallery-left-info__link:visited {
    color: var(--purpleLight);
}

.gallery-left-info__link:hover,
.projects__link:hover {
    color: var(--purpleNormal);
}

.gallery-right {
    padding-top: 24px;
    width: 1150px;
}

.gallery-right__item {
    cursor: pointer;
    position: relative;
    padding: 25px;
    max-width: 350px;
    max-height: 350px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

.gallery-right__item:focus {
    border: 3px solid var(--purpleDark);
}

.gallery-right__item:active {
    border: 2px solid #D1A9F0;
}

.gallery-right__item:hover .gallery-right__popup {
    opacity: 1;
}

.gallery-right__plus {
    width: 81px;
    height: 79px;
    background-image: url(../svg/gallery__popup.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-right__item--number--1 {
    background: url(../img/Gallery/gallery__foto_1.jpg);
}

.gallery-right__item--number--1:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_1.jpg);
}

.gallery-right__item--number--2 {
    background: url(../img/Gallery/gallery__foto_2.jpg);
}

.gallery-right__item--number--2:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_2.jpg);
}

.gallery-right__item--number--3 {
    background: url(../img/Gallery/gallery__foto_3.jpg);
}

.gallery-right__item--number--3:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_3.jpg);
}

.gallery-right__item--number--4 {
    background: url(../img/Gallery/gallery__foto_4.jpg);
}

.gallery-right__item--number--4:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_4.jpg);
}

.gallery-right__item--number--5 {
    background: url(../img/Gallery/gallery__foto_5.jpg);
}

.gallery-right__item--number--5:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_5.jpg);
}

.gallery-right__item--number--6 {
    background: url(../img/Gallery/gallery__foto_6.jpg);
}

.gallery-right__item--number--6:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_6.jpg);
}

.gallery-right__item--number--7 {
    background: url(../img/Gallery/gallery__foto_7.jpg);
}

.gallery-right__item--number--7:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_7.jpg);
}

.gallery-right__item--number--8 {
    background: url(../img/Gallery/gallery__foto_8.jpg);
}

.gallery-right__item--number--8:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_8.jpg);
}

.gallery-right__item--number--9 {
    background: url(../img/Gallery/gallery__foto_9.jpg);
}

.gallery-right__item--number--9:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_9.jpg);
}

.gallery-right__item--number--10 {
    background: url(../img/Gallery/gallery__foto_10.jpg);
}

.gallery-right__item--number--10:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_10.jpg);
}

.gallery-right__item--number--11 {
    background: url(../img/Gallery/gallery__foto_11.jpg);
}

.gallery-right__item--number--11:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_11.jpg);
}

.gallery-right__item--number--12 {
    background: url(../img/Gallery/gallery__foto_12.jpg);
}

.gallery-right__item--number--12:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_12.jpg);
}

.gallery-right__item--number--13 {
    background: url(../img/Gallery/gallery__foto_13.jpg);
}

.gallery-right__item--number--13:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_13.jpg);
}

.gallery-right__item--number--14 {
    background: url(../img/Gallery/gallery__foto_14.jpg);
}

.gallery-right__item--number--14:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_14.jpg);
}

.gallery-right__item--number--15 {
    background: url(../img/Gallery/gallery__foto_15.jpg);
}

.gallery-right__item--number--15:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_15.jpg);
}

.gallery-right__item--number--16 {
    background: url(../img/Gallery/gallery__foto_16.jpg);
}

.gallery-right__item--number--16:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_16.jpg);
}

.gallery-right__item--number--17 {
    background: url(../img/Gallery/gallery__foto_17.jpg);
}

.gallery-right__item--number--17:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_17.jpg);
}

.gallery-right__item--number--18 {
    background: url(../img/Gallery/gallery__foto_18.jpg);
}

.gallery-right__item--number--18:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/Gallery/gallery__foto_18.jpg);
}

.gallery-right__popup {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    opacity: 0;
    transition: opacity .7s ease-in-out;
}

.gallery-right .swiper-container {
    width: 100%;
    max-height: 750px;
    margin: 0 !important;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/* Стили для секции котолога */

.catalog {
    padding: 80px 0;
}

.catalog-country {
    display: flex;
    position: relative;
    align-items: flex-end;
    margin-bottom: 15px;
    max-height: 81px;
}

.catalog-country__title {
    margin: 0 40px 0 0 !important;
}

.catalog-country__list {
    display: inherit;
}

.catalog-country__list>:last-child {
    margin-right: 0;
}

.catalog-country__item {
    width: 46px;
    height: 46px;
    position: relative;
    margin-right: 50px;
    cursor: pointer;
    transition: filter 1s ease-in-out;
}

.catalog-country__button {
    padding: 0;
    position: relative;
    transition: filter 1s ease;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.catalog-country__button::before {
    position: absolute;
    border-radius: 100%;
    border: 2px solid var(--purpleNormal);
}

.catalog-country__button:active::before {
    content: '';
    top: -2px !important;
    right: -2px !important;
    bottom: 0 !important;
    left: -2px !important;
}

.catalog-country__button:focus::before,
.catalog-country__button--state-active:before{
    content: '';
    top: -10px;
    right: -10px;
    bottom: -8px;
    left: -10px;
}

.catalog-country__button:hover {
    filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog-country__button[data-country="Franch"] {
    background-image: url(../img/Catalog/catalog__flag_1.png);
}

.catalog-country__button[data-country="Germani"] {
    background-image: url(../img/Catalog/catalog__flag_2.png);
}

.catalog-country__button[data-country="Italy"] {
    background-image: url(../img/Catalog/catalog__flag_3.png);
}

.catalog-country__button[data-country="Russia"] {
    background-image: url(../img/Catalog/catalog__flag_4.png);
}

.catalog-country__button[data-country="Belgium"] {
    background-image: url(../img/Catalog/catalog__flag_5.png);
}

.catalog__info {
    display: inline-block;
    max-width: 1080px;
    margin-bottom: 39px;
}

.catalog-column {
    display: flex;
    justify-content: space-between;
}

.catalog-column-left {
    max-width: 750px;
}

.catalog-accordion__title a {
    font-weight: 600;
}

.catalog-column-left__slide {
    width: 100%;
    margin-bottom: 20px;
}

.catalog-column-left__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.catalog-column-left__info span {
    display: block;
    color: var(--B99);
    font-size: 12px;
}

.catalog-column-right {
    width: 800px;
}

#catalog-accordion:first-child {
    border-top: 1px solid var(--CA);
}

.ui-accordion-header {
    margin: 0 !important;
    padding: 0 !important;
}

.ui-accordion-header a {
    color: var(--Bl33) !important;
}

.ui-state-hover a {
    color: var(--purpleNormal) !important;
}

.ui-accordion-header,
.ui-accordion-content {
    border: none;
    border-radius: 0;
    background-color: var(--invisible);
    color: var(--Bl);
}

.ui-accordion-header {
    height: 114px;
    display: flex !important;
    align-items: center;
    font-size: 24px !important;
    border-bottom: 1px solid var(--CA);
}

.ui-accordion-header:hover .myIcon-1,
.ui-accordion-header:focus .myIcon-1 {
    background-image: url(../svg/catalog__accordion/accordion.svg);
}

.ui-accordion-content {
    max-height: 340px;
    padding: 25px 0 16px 0 !important;
    overflow: hidden !important;
}

.ui-accordion-content-active {
    border-bottom: 1px solid var(--purpleNormal);
    border-top: 1px solid var(--purpleNormal) !important;
}

.ui-state-active .ui-icon {
    background-image: url(../svg/catalog__accordion/accordion__hover.svg);
    transform: rotate(180deg);
}

.ui-icon {
    position: absolute;
    border-radius: 100%;
    background-image: url(../svg/catalog__accordion/accordion.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    right: 0;
    width: 50px;
    height: 50px;
    transition-property: transform, background-image;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.ui-state-focus .ui-icon:active {
    background-image: url(../svg/catalog__accordion/accordion__active.svg) !important;
}

.ui-icon:hover,
.ui-state-hover .ui-icon{
    background-image: url(../svg/catalog__accordion/accordion__hover.svg) !important;
}

.catalog-accordion__list {
    display: flex;
    padding-left: 3px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.catalog-accordion__item {
    margin-bottom: 1px;
    line-height: 31px;
    width: 25%;
}

.catalog-accordion__button {
    font-family: 'OpenSans-Regular' !important;
    padding: 0;
    color: var(--Bl33);
    transition: color .4s ease-in-out;
}

.catalog-accordion__button--state--active {
    color: var(--purpleNormal) !important;
}

.catalog-accordion__button:hover {
    color: var(--purpleNormal);
}

.catalog-accordion__button:active,
.projects__link:active{
    color: var(--purpleDark);
}


/* Стили для секции котолога */

.events {
    padding-bottom: 80px;
}

.events__title {
    margin-bottom: 18px;
}

.events__list {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    overflow: hidden;
    margin-bottom: 50px;
}

.events__list>:not(:nth-child(3n)) {
    margin-right: 50px;
}

.events__list>:nth-child(n+4) {
    margin-top: 50px;
}

.events__swiper {
    display: none;
}

.events__list>:last-child {
    margin-right: 0;
}

.events-item {
    position: relative;
    width: 33%;
    max-width: 500px;
    height: 700px;
    border: 1px solid var(--CA);
}

.events-item__img {
    width: 100%;
}

.events-info {
    padding: 0 20px 0 50px;
}

.events-info__title {
    max-width: 100%;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.events__text {
    max-width: 400px;
}

.events__link,
.events__link:visited {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 50px;
    color: var(--purpleLight);
    border-bottom: 1px solid var(--purpleNormal);
}

.events__link:hover {
    color: var(--purpleNormal);
}

.events__link:active {
    color: var(--purpleDark);
}

.events__date {
    display: inline-block;
    width: 100%;
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 18px;
    text-align: end;
    color: var(--B99);
    font-weight: 600;
}

.events__container-button {
    display: flex;
    justify-content: center;
}

.events__button {
    padding: 16px 36px;
    border: 2px solid var(--purpleNormal);
    border-radius: 100px;
    color: var(--purpleNormal);
    background-color: var(--invisible);
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.events__button:focus {
    border: 2px solid var(--purpleNormal);
}


/* Cтиди для секции издания */

.editions {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 77px 0;
    color: var(--white);
    background-image: url(../img/Editions/editions__fon.jpg);
}

.editions-left {
    width: 340px;
}

.editions-left__title {
    margin-bottom: 14px;
}

.editions-left__category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 26px;
}

.editions-left__category-title {
    margin-bottom: 3px;
    width: 100%;
}

.label-container {
    position: relative;
}

.editions-left__label {
    cursor: pointer;
    padding-left: 24px;
    position: relative;
    transition: color .4s ease-in-out;
}

.editions-left__label:hover,
.editions__choices-item {
    color: var(--purpleLight);
}

.editions-left__label:hover span:not([data-value="name"]) {
    border: 1px solid var(--purpleLight);
    transition: border .4s ease-in-out;
}

.editions-left__label:active,
.editions__choices-item:active {
    color: var(--purpleDark);
}

.editions-left__input {
    position: absolute;
    opacity: 0;
}

.editions-left__label span:not([data-value="name"]) {
    position: absolute;
    top: 25%;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid var(--white);
}

.editions-left__label span:not([data-value="name"])::before {
    content: url(../img/Editions/ellipse-input.png);
    position: absolute;
    left: 3px;
    bottom: -7px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.editions-left__input:checked+label span:not([data-value="name"]),
.editions-left__label:hover span:not([data-value="name"]) {
    border-color: var(--purpleLight);
}

.editions-left__input:focus+label {
    outline: 2px solid var(--purpleNormal);
}

.editions-left__label:active span:not([data-value="name"]) {
    border-color: var(--purpleDark);
}

.editions-left__label:active span[data-value="name"] {
    color: var(--purpleDark);
}

.editions-left__input:checked+label span[data-value="name"] {
    color: var(--purpleLight);
}

.editions-left__input:checked+label span:not([data-value="name"])::before {
    opacity: 1;
}

.editions-left__price-title {
    margin-bottom: 12px;
}

.editions-left__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

.editions-left__price input {
    padding: 4px 10px 7px;
    width: 82px;
    height: 100%;
    background-color: rgba(157, 92, 208, 0.5);
}

.editions-left__from,
.editions-left__before {
    color: var(--white);
}

.editions-right {
    padding-top: 30px;
    width: 1150px;
}

.editions-right__item {
    height: 100%;
    max-width: 350px;
}

.editions-right__img {
    width: 100%;
    margin-bottom: 13px;
}

.editions-right-list__information {
    position: relative;
    margin-bottom: 11px;
    line-height: 26px;
}

.editions-right-list__text,
.editions-right-list__name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 239px;
    white-space: nowrap;
}

.editions-right-list__text {
    font-size: 18px;
    font-width: 700;
}

.editions-right-list__price {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
}

.editions-right-list__button {
    padding: 8px 20px;
    margin-bottom: 1px;
    color: var(--white);
    background-color: var(--invisible);
    border: 2px solid var(--purpleNormal);
    border-radius: 100px;
}

.editions-right-list__button:focus {
    border: 2px solid var(--purpleNormal);
}

.editions-right-list__button:focus span {
    border: 2px solid var(--purpleDark);
}

.editions-right-list__button:hover {
    background-color: var(--purpleNormal);
}

.editions-right-list__button:active {
    border: 2px solid var(--purpleVeryLight);
    background-color: var(--purpleDark);
}


/* Стили для секции проекты */

.projects {
    padding: 83px 0 77px 0;
}

.projects__title {
    margin-bottom: 16px;
}

.projects__text {
    display: inline-block;
    max-width: 1053px;
    margin-bottom: 21px;
}

.projects__link,
.projects__link:visited {
    color: var(--purpleNormal);
}

.project__company {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}

.project__swiper-container {
    max-width: 1454px;
}

.project__title-wrapper {
    margin-bottom: 23px;
    font-weight: 600;
    font-size: 25px;
}

.project__swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    filter: grayscale(100%);
    border: 1px solid var(--CA);
    transition: filter .5s ease-in-out;
}

.project__swiper-slide:hover {
    filter: grayscale(0%);
}

.project__tooltip {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-image: url(../svg/project__tulltip.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.project__tooltip:focus,
.project__tooltip:hover{
    background-image: url(../svg/project__tulltip--active.svg);
}

.tippy-box[data-theme~='greay'] {
    padding: 8px 11px;
    text-align: center;
    width: 264px;
    background-color: var(--CA);
    border-radius: 0;
    color: var(--white);
}

/* Общие */
.reverse_180 {
    transform: rotate(180deg);
}
.swiper__navigate-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.swiper_navigate-pagination {
    margin: 0 20px;
    width: auto;
}
.swiper__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.swiper__navigation {
    background-color: #666;
    background-image: url(../svg/gallery_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.project__company .swiper__navigation {
    background-color: var(--EC);
    background-image: url(../svg/project-arrow.svg);
}

.project__company .swiper__navigation:not([aria-disabled="true"]):hover {
    background-image: url(../svg/gallery_arrow.svg);
}

.swiper-container {
    height: 100%;
}
.swiper-button-disabled {
    cursor: default;
    border: none !important;
    background-color: rgb(87, 86, 86) !important;
    background-image: url(../svg/gallery_arrow.svg);
}
.swiper__navigation:focus {
    border: 2px solid var(--purpleDark);
}
.swiper__navigation:hover {
    background-color: var(--purpleNormal);
}
.project__company .swiper__navigation:hover path,
.project__company .swiper__navigation:active path {
    stroke: var(--white);
}

.project__company .swiper-button-disabled:hover path,
.project__company .swiper-button-disabled:active path {
    stroke: var(--Bl);
}

.swiper__navigation:active {
    background-color: var(--purpleDark);
    border: 2px solid var(--purpleVeryLight);
}

.title {
    font-size: 48px;
    line-height: 65px;
}

.simplebar-wrapper {
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
}

.simplebar-track {
    right: 15px;
}

.simplebar-mask {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
}

.simplebar-content {
    padding: 0 !important;
    max-height: 220px !important;
}

.simplebar-placeholder {
    display: none;
}
.simplebar-vertical {
    width: 2px !important;
    margin: 40px 0;
    background: var(--Bl);
}

.simplebar-scrollbar {
    width: 2px;
    background-color: var(--purpleDark);
}

.simplebar-content>:last-child {
    margin-bottom: 0;
}

/* Cтиди для секции контакты */

.contacts {
    width: 100%;
}

.contacts__title {
    margin-bottom: 18px;
}

.contacts-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    max-height: 700px;
}

.contacts-left {
    width: 100%;
    max-width: 682px;
    padding: calc((100vw - 1600px) / 2);
    border: 1px solid var(--CA);
}

.contacts-left__title {
    line-height: 37px;
    font-weight: 600;
}
.contacts-left__title,
.contacts__title-form {
    font-size: 24px;
}

.contacts__adress {
    margin-bottom: 28px;
}

.contacts__form {
    display: inherit;
    margin-bottom: 40px;
}

.contacts__title-form {
    margin-bottom: 16px;
}

.contacts__input {
    display: block;
    padding: 10px 24px;
    margin-bottom: 23px;
    width: 400px;
    border: 1px solid var(--Bl33);
    border-radius: 100px;
}

.contacts__input::placeholder {
    color: var(--B99);
}

.contacts__button {
    padding: 18px 37px;
    color: var(--purpleNormal);
    border: 2px solid var(--purpleDark);
    border-radius: 100px;
    font-weight: 700;
}

.contacts__button:focus {
    border: 2px solid var(--purpleDark);
}

.contacts__button:hover,
.events__button:hover {
    color: var(--white);
    background-color: var(--purpleNormal);
}

.contacts__button:active,
.events__button:active {
    color: var(--white);
    background-color: var(--purpleDark);
    border-color: var(--purpleVeryLight);
}

.network__title {
    font-size: 24px;
    margin-bottom: 14px;
}

.network__list {
    display: flex;
    flex-wrap: nowrap;
}

.network__list>:last-child {
    margin-right: 0;
}

.network__item {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.network__item--name--whatsapp {
    background-image: url(../svg/Whatsapp.svg);
}

.network__item--name--telegram {
    background-image: url(../svg/Telegram.svg);
}

.network__item:hover,
.logo__item:hover {
    transform: scale(1.1);
}

#map {
    width: 100%;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}


/* Стили для подвала сайта */

.footer {
    display: flex;
    align-items: center;
    padding: 45px 0;
    justify-content: space-between;
    background-color: var(--Bl);
}
.footer .main-container {
    justify-content: flex-end;
}
.logo__list {
    display: flex;
    flex-wrap: nowrap;
}

.logo__list>:last-child {
    margin-right: 0;
}

.logo__item {
    margin-right: 19px;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo__item--name--vk {
    background-image: url(../svg/footer__vk.svg);
}

.logo__item--name--instagram {
    background-image: url(../svg/footer__instagram.svg);
}

.logo__item--name--facebook {
    background-image: url(../svg/footer__fb.svg);
}

@media (max-width: 1670px) {
    .main-container {
        max-width: 1300px;
    }
    .contacts-left {
        max-width: 487px;
        padding: calc((100vw - 924px) / 2);
    }
    .catalog-country {
        align-items: flex-start;
        margin-bottom: 15px;
    }
    .catalog-country__list {
        padding-top: 20px;
    }
    .header-bottom__item {
        margin-right: 50px;
    }
    .catalog-column-left {
        max-width: 600px;
    }
    .catalog-column-right {
        width: 600px;
    }
    .events-item {
        width: 33%;
        max-width: 290px;
        height: 683px;
    }
    .gallery-right {
        width: 850px;
    }
    .editions-right__item {
        max-width: 300px;
    }
    .project__swiper-container {
        max-width: 1230px;
    }
    .project__swiper-slide {
        max-width: 400px;
    }
}

@media (max-width: 1366px) {
    .main-container--fon--logo {
        background-position: 6% 0%;
    }
    .header-top .main-container--fon--logo {
        background-position: center;
    }
    .events__date {
        margin-bottom: 0;
    }
    .projects {
        padding: 80px 0;
    }
    .contacts-left__title {
        line-height: 36px;
    }
    .ui-accordion-header {
        height: 113px;
    }
    .events__title {
        margin-bottom: 20px;
    }
    .events-info__title {
        margin-bottom: 6px;
        max-width: 97%;
    }
    .events-item__img {
        height: 197px;
    }
    .catalog-accordion__item {
        width: 57%;
    }
    .ui-accordion .ui-accordion-content {
        padding: 1em 2.2em;
        border-top: 0;
        overflow: auto;
    }
    .ui-accordion-content-active {
        border-bottom: 1px solid var(--purpleNormal);
        border-top: 1px solid var(--purpleNormal) !important;
    }
    .ui-accordion-content {
        margin-bottom: 4px;
    }
    .ui-accordion .ui-accordion-content {
        padding: 1em 2.2em;
        border-top: 0;
        overflow: auto;
    }
    .ui-accordion-content-active {
        border-bottom: 1px solid var(--purpleNormal);
        border-top: 1px solid var(--purpleNormal) !important;
    }
    .ui-accordion-content {
        max-height: 440px;
    }
    .ui-accordion .ui-accordion-content {
        padding: 1em 2.2em;
        border-top: 0;
        overflow: auto;
    }
    .ui-accordion-content-active {
        border-bottom: 1px solid var(--purpleNormal);
        border-top: 1px solid var(--purpleNormal) !important;
    }
    /* Что мы скрываем */
    .header-bottom {
        display: none !important;
    }
    .main-container {
        max-width: 1000px;
    }
    .header-top {
        justify-content: space-between;
    }
    .header-logo {
        margin: 0;
    }
    .header-top__navigate {
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: 82px;
        max-width: 200px;
        padding: 20px;
        background-color: var(--Bl);
        display: none;
        z-index: 2;
    }
    .header-top__list {
        flex-wrap: wrap;
        margin:0 0 20px 0;
    }
    .header-top__item {
        margin-right: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header-top__burger--active+nav {
        display: flex;
    }
    .header-top__burger {
        display: flex !important;
        flex-wrap: wrap;
        width: 36px;
        padding: 0;
    }
    .header-top__burger>:last-child {
        margin-bottom: 0;
    }
    .header-top__burger:hover>:nth-child(1),
    .header-top__burger:hover>:nth-child(2),
    .header-top__burger:hover>:nth-child(3) {
        background: var(--purpleNormal);
    }
    .header-top__burger span {
        transition: background 0.3s ease-in-out;
        margin-bottom: 8px;
        height: 4px;
        display: block;
        background-color: var(--white);
        padding: 0;
    }
    .header-top__burger>:nth-child(1) {
        width: 100%;
    }
    .header-top__burger>:nth-child(2) {
        width: 28px;
    }
    .header-top__burger>:nth-child(3) {
        width: 24px;
    }
    .header-top__search {
        padding: 0;
        cursor: pointer;
        display: inline-block !important;
    }
    .header-top__search svg {
        width: 100%;
        height: 100%;
    }
    .header-top__search:hover rect,
    .header-top__search:hover path {
        fill: var(--purpleNormal);
    }
    .hero {
        padding: 214px 0 114px;
    }
    .hero__title {
        max-width: 585px;
        margin-bottom: 10px;
        line-height: 83px;
    }
    .hero__text {
        max-width: 670px;
        margin-bottom: 130px;
    }
    .company__title {
        margin-bottom: 16px;
    }
    .company__text {
        width: 100%;
        line-height: 32px;
    }
    .gallery-left {
        margin-right: 55px;
        width: 280px;
    }
    .gallery-left-info__title {
        margin-bottom: 15px;
    }
    .gallery-filter__title {
        margin-bottom: 10px;
    }
    .gallery-left-info__more {
        font-size: 16px;
    }
    .gallery-right {
        padding-top: 23px;
        width: 590px;
    }
    .gallery-navigate {
        width: 100%;
    }
    .gallery-navigate__pagination {
        margin: 0 19px;
    }
    .gallery-right .swiper-container {
        max-height: 595px;
    }
    .gallery-right__item {
        max-width: 280px;
        max-height: 280px;
    }
    .catalog__info {
        width: 100%;
    }
    .catalog-column-left {
        width: 437px;
        margin-right: 50px;
    }
    .catalog-column-right {
        width: 437px;
    }
    .events {
        padding-bottom: 80px;
    }
    .events__list {
        max-height: 683px;
    }
    .events__list>:not(:nth-child(3n)) {
        margin-right: 27px;
    }
    .events__list>:nth-child(n+4) {
        margin-top: 27px;
    }
    .events-item {
        width: 290px;
    }
    .events-info {
        padding: 3px 17px 0 35px;
    }
    .events-info__address {
        top: 175px;
    }
    .events-info__text {
        max-height: 256px;
    }
    .events__link,
    .events__link:visited {
        bottom: 49px;
        left: 35px;
    }
    .editions {
        padding: 80px 0;
    }
    .editions-left__price {
        width: 341px;
        line-height: 39px;
    }
    .editions-left__category,
    .editions-left__category>:last-child {
        margin: 0;
    }
    .editions-right-list__text,
    .editions-right-list__name {
        max-width: 150px;
    }
    .editions-left__category-title {
        margin-bottom: 0;
    }
    .editions-left__container-price {
        display: flex;
        align-items: center;
    }
    .editions-left__price-title {
        margin: 0 18px 0 0 !important;
    }
    .editions-right {
        padding-top: 22px;
        width: 630px;
    }
    .editions-right__top {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .editions-right__navigate {
        margin: 0;
    }
    .editions-right__item {
        width: 290px;
    }
    .editions-right__img {
        max-height: 317px;
        margin-bottom: 0;
    }
    .editions-right-list__information {
        margin-bottom: 12px;
    }
    .editions-right-list__button {
        padding: 8px 25px;
    }
    .project__title-wrapper {
        font-size: 24px;
        margin-bottom: 25px;
    }
    .project__company {
        height: 130px;
    }
    .projects__text {
        margin-bottom: 20px;
    }
    .project__company {
        height: 128px;
    }
    .project__swiper-container {
        max-width: 820px;
    }
    .project__swiper-slide {
        max-width: 384px;
    }
    .contacts__title {
        margin-bottom: 15px;
    }
    .contacts-info {
        max-height: 700px;
    }
    .contacts__adress {
        margin-bottom: 30px;
    }
    .contacts__button {
        padding: 17px 33px;
        font-size: 18px;
    }
    .contacts__input {
        width: 335px;
        margin-bottom: 21px;
    }
    #map {
        width: 540px;
    }
    .choices {
        /* padding-bottom: 88%; */
    }
}

@media (max-width: 1024px) {
    .main-container {
        max-width: 1024px;
        padding: 0 50px;
    }
    .events__list>:not(:nth-child(3n)) {
        margin-right: 18px;
    }
}

@media (max-width: 992px) {
    .main-container--fon--logo {
        background-position: 8.4% 0%;
    }
    .ui-accordion-header {
        height: 113px;
    }
    .main-container {
        max-width: 992px;
    }
    .contacts-left {
        max-width: 430px;
        padding: calc((100vw - 668px) / 2);
    }
    .hero {
        padding: 213px 0 113px 0;
    }
    .hero__text {
        margin-bottom: 131px;
    }
    .gallery {
        flex-wrap: wrap;
    }
    .gallery-left {
        margin: 0;
    }
    .gallery-left-info__title {
        margin-bottom: 18px;
    }
    .gallery-right {
        padding-top: 0;
        width: 100%;
        margin-bottom: 18px;
    }
    .gallery-right__item {
        max-width: 317px;
    }
    .gallery-filter {
        margin-bottom: 3px;
    }
    .gallery-navigate {
        width: 100%;
    }
    .swiper_navigate-pagination {
        margin: 0 20px;
    }
    .gallery-left-info__more {
        position: relative;
        max-width: 100%;
    }
    .catalog-country {
        align-items: flex-end;
        margin-bottom: 17px;
    }
    .catalog-country__list {
        padding: 0;
    }
    .catalog-country__item {
        margin-right: 54px;
    }
    .catalog {
        padding: 80px 0 70px 0;
    }
    .catalog__info {
        margin-bottom: 21px;
    }
    .ui-accordion-content {
        max-height: 342px;
    }
    .catalog-column {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .catalog-column-left,
    .catalog-column-right {
        max-width: 100%;
        width: 100%;
    }
    .catalog-column-left {
        margin: 0;
    }
    .catalog-column-right {
        margin-bottom: 53px;
    }
    .events {
        padding-bottom: 85px;
    }
    .events__title {
        margin-bottom: 16px;
    }
    .events__list {
        max-height: 685px;
    }
    .events-item {
        width: 317px;
        max-width: 317px;
        height: 685px;
    }
    .events__list>:not(:nth-child(3n)) {
        margin-right: 0;
    }
    .events__list>:nth-child(n+4) {
        margin-top: 0;
    }
    .events__list>:not(:nth-child(2n)) {
        margin-right: 34px;
    }
    .events__list>:nth-child(n+3) {
        margin-top: 34px;
    }
    .events-item__img {
        height: 202px;
    }
    .events-info__title {
        margin-bottom: 2px;
    }
    .events__text {
        max-width: 260px;
    }
    .events__link,
    .events__link:visited {
        bottom: 45px;
    }
    .editions {
        flex-wrap: wrap;
        padding: 80px 0;
    }
    .editions-left {
        width: 100%;
        max-width: 100%;
        margin: 0;
        font-size: 14px;
    }
    .editions-left__category-title,
    .editions-left__price-title {
        font-weight: 600;
    }
    .editions-left__price-title {
        width: 100%;
        margin: 0 0 8px 0 !important;
    }
    .editions-left__price {
        height: 40px;
    }
    .editions-left__category {
        flex-direction: row;
        margin-bottom: 22px;
    }
    .label-container {
        width: 33%;
    }
    .editions-left__label {
        width: 33%;
    }
    .editions-left__container-price {
        flex-wrap: wrap;
        margin-bottom: 24px;
    }
    .editions-right {
        padding-top: 27px;
    }
    .editions-right__navigate {
        width: 100%;
    }
    .editions-right__img {
        margin-bottom: 0;
    }
    .editions-right-list__text,
    .editions-right-list__name {
        max-width: 150px;
    }
    .editions-right {
        width: 100%;
    }
    .projects__text {
        margin-bottom: 26px;
    }
    .project__swiper-container {
        max-width: 570px;
    }
    .project__swiper-slide {
        max-width: 264px;
    }
    .project__swiper-slide a img {
        width: 100%;
        height: 100%;
    }
    .project__title-wrapper {
        margin-bottom: 30px;
    }
    .projects__link,
    .projects__link:visited {
        display: block;
    }
    .project__swiper-slide a {
        max-width: 210px;
        max-height: 52px;
    }
    .project__company {
        height: 107px;
    }
    .contacts-info {
        max-height: 700px;
    }
    .contacts__adress {
        margin-bottom: 30px;
    }
    .contacts__title-form {
        margin-bottom: 13px;
    }
    .contacts__input {
        margin-bottom: 24px;
    }
    .network__title {
        margin-bottom: 14px;
    }
    #map {
        width: 100%;
    }
    .footer-logo {
        display: flex;
        flex-wrap: wrap;
    }
    .logo__item svg {
        max-width: 50px;
        max-height: 50px;
    }
    /* Общее  */
    .editions-right .swiper-container {
        margin-left: 10px;
    }
    .choices {
        margin-bottom: 27px !important;
    }
    .catalog-accordion__item {
        width: 36%;
    }
}

@media (max-width: 768px) {
    .main-container {
        max-width: 768px;
    }
}

@media (max-width: 700px) {
    h3,
    h4 {
        font-size: 16px;
    }
    .main-container {
        max-width: 700px;
        padding: 0 15px;
    }
    .catalog__info,
    .events__list,
    .events__button,
    .editions-right__top {
        display: none;
    }
    .editions-left__category-title {
        line-height: 33px;
    }
    .title {
        font-size: 28px;
        line-height: 38px;
    }
    .main-container--fon--logo {
        background-image: url(../svg/Blanchard--320.svg);
        background-position: 7% 0%;
    }
    .header-top {
        padding: 3px 0;
    }
    .header-top__burger span {
        margin-bottom: 4px;
    }
    .header-logo {
        width: 100px;
    }
    .header-top__navigate {
        font-size: 14px;
        top: 45px;
    }
    .header-top__list {
        margin: 0;
    }
    .header-top__burger {
        height: 15px;
        width: 20px;
    }
    .header-top__burger span {
        height: 2px;
    }
    .header-top__burger>:nth-child(2) {
        width: 16px;
    }
    .header-top__burger>:nth-child(3) {
        width: 13px;
    }
    .header-logo {
        display: flex;
        flex-wrap: wrap;
    }
    .header-top__search {
        max-width: 16px;
        max-height: 16px;
    }
    .hero {
        padding: 76px 0 44px 0;
    }
    .hero__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .hero__title,
    .hero__text {
        padding: 0 14px;
    }
    .hero__title {
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 11px;
    }
    .hero__text {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 41px;
        font-weight: 400;
    }
    .hero__button {
        font-size: 12px;
        line-height: 16px;
        padding: 10px 16px;
    }
    .company {
        padding: 50px 0 40px 0;
    }
    .company__title {
        margin-bottom: 12px !important;
    }
    .company__text {
        font-size: 14px;
        line-height: 28px;
    }
    .gallery {
        display: block;
        padding: 50px 0 80px 0;
    }
    .gallery-left {
        width: 100%;
        margin-bottom: 35px;
    }
    .gallery-left-info__title {
        margin-bottom: 11px;
    }
    .gallery-filter__title {
        margin-bottom: 6px;
    }
    .gallery-navigate__pagination {
        margin: 0 15px;
    }
    .gallery-filter {
        margin-bottom: 0;
    }
    .gallery-left-info__more {
        max-width: 96%;
    }
    .gallery-right {
        padding-top: 0;
        margin-bottom: 5px;
    }
    .swiper__navigate-container {
        justify-content: center;
        width: 100%;
        margin: 0;
    }
    .swiper-wrapper {
        height: 367px;
    }
    .gallery-right .swiper-container {
        margin-bottom: 20px !important;
    }
    .gallery-right__item {
        max-width: 100%;
        max-height: 100%;
    }
    .catalog-country {
        flex-wrap: wrap;
        margin-bottom: 21px;
    }
    .catalog-country__item {
        width: 32px;
        height: 32px;
        margin-right: 32px;
    }
    .ui-accordion-header {
        padding: 0 !important;
    }
    .catalog-country__title {
        width: 100%;
        margin: 0 0 11px 0 !important;
    }
    .catalog-country__item img {
        width: 32px;
        height: 32px;
        max-height: 100%;
    }
    .ui-accordion-header {
        height: 74px;
        font-size: 18px !important;
        line-height: 32px !important;
    }
    .ui-icon {
        width: 30px;
        height: 30px;
    }
    .catalog-accordion__item {
        width: 100%;
        margin-bottom: 2px;
        line-height: 30px;
    }
    .ui-accordion-content {
        height: auto !important;
        max-height: none;
        padding: 18px 0 !important;
    }
    .catalog {
        padding: 78px 0 50px 0;
        margin-bottom: 0;
    }
    .catalog-column-left__slide {
        margin-bottom: 10px;
    }
    .catalog-column-left__name {
        margin-bottom: 5px;
    }
    .events__date {
    line-height: 16px;
    }
    .catalog-column-right {
        margin-bottom: 50px;
    }
    .events {
        padding-bottom: 46px;
    }
    .events__title {
        margin-bottom: 12px;
    }
    .events-info {
        padding: 9px 10px 0 28px;
    }
    .events-info__title {
        margin-bottom: 37px;
    }
    .events__swiper {
        display: flex;
    }
    .events__link,
    .events__link:visited {
        left: 28px;
        bottom: 50px;
    }
    .events .swiper-container {
        margin-bottom: 20px;
    }
    .events .swiper-wrapper,
    .events .swiper-slide {
        height: 100%;
    }
    .events__pagination {
        display: flex;
        justify-content: center;
        height: 10px;
    }
    .swiper-pagination-bullet {
        background: var(--Bl);
        margin-right: 15px;
        height: 100%;
        width: 10px;
    }
    .events__pagination>:last-child {
        margin-right: 0;
    }
    .editions {
        padding: 50px 0 48px 0;
    }
    .editions-left__category-title {
        display: inline-block;
        width: auto;
    }
    .editions-left__category {
        flex-direction: column;
        margin-bottom: 0;
    }
    .label-container {
        width: 100%;
    }
    .editions-left__details {
        padding-bottom: 5px;
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
    }
    /* Убираем стилизацию спойлера */
    .editions-left__summary::-webkit-details-marker {
        display: none;
    }
    .editions-left__price {
        width: 341px;
        padding: 0 11px 0 15px;
    }
    .editions-left__container-price {
        flex-wrap: wrap;
    }
    .editions-left__price input {
        width: 70px;
    }
    .editions-left__price-title {
        margin: 0 0 6px 0 !important;
    }
    .editions__choices-list {
        margin-bottom: 20px;
        width: 100%;
    }
    .editions-right .swiper-container {
        margin: 0;
    }
    .editions-right-list__information {
        margin-bottom: 10px;
    }
    .editions-right__img {
        margin-bottom: 3px;
    }
    .editions-right-list__information {
        line-height: 18px;
    }
    .editions__choices-item {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;
        padding: 3px 0 3px 24px;
        border-bottom: 1px solid var(--white);
    }
    .editions__choices-item>span {
        border-color: var(--purpleLight) !important;
    }
    .editions-left__input~span::before {
        bottom: -8px;
    }
    .editions__choices-item>span::before {
        opacity: 1 !important;
    }
    .editions-left .choices__inner {
        border: none !important;
        border-top: 1px solid var(--white) !important;
        border-bottom: 1px solid var(--white) !important;
        border-radius: 0 !important;
    }
    .editions-left .choices__item {
        margin-bottom: 0;
        border-bottom: 1px solid white;
    }
    .editions-left .choices__list--dropdown .choices__item {
        padding: 0 0 0 30px;
    }
    .editions-right__navigate {
        display: none;
    }
    .editions__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto;
    }
    .editions__list>:nth-child(-n+6) {
        margin-bottom: 50px;
    }
    .editions__item {
        width: 130px;
    }
    .editions-right__item {
        width: 100%;
        font-size: 12px;
        line-height: 16px;
    }
    .editions-right-list__text {
        font-size: 13px;
    }
    .editions-right-list__price {
        position: relative;
    }
    .editions-right-list__button {
        padding: 10px 16px;
        width: 100%;
    }
    .projects {
        padding: 55px 0 50px 0;
    }
    .project__title-wrapper {
        font-size: 18px;
        margin-bottom: 11px;
    }
    .projects__title {
        margin-bottom: 12px;
    }
    .projects__text {
        margin-bottom: 9px;
    }
    .project__company {
        height: 65px;
    }
    .project__swiper-container {
        max-width: 200px;
        max-height: 65px;
    }
    .project__swiper-slide a img {
        max-width: 105px;
        max-height: 26px;
    }
    .project__swiper-wrapper {
        width: 100%;
        height: 100%;
    }
    .contacts__title {
        margin-bottom: 16px;
    }
    .contacts-info {
        height: auto;
        flex-wrap: wrap;
        max-height: 700px;
    }
    .contacts-left {
        border: none;
        padding: 0 0 0 12px;
    }
    .contacts-left__title {
        font-size: 18px;
        line-height: 16px;
    }
    .contacts-info {
        max-height: 100%;
        justify-content: start;
    }
    .contacts__adress {
        font-size: 14px;
        margin-bottom: 6px;
    }
    .contacts__form {
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .contacts__input {
        width: 100%;
        margin-bottom: 20px;
    }
    .contacts__button {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 128px;
        max-height: 40px;
        font-family: "OpenSans-Bold";
        font-size: 12px;
        line-height: 16px;
    }
    .contacts__title-form {
        margin-bottom: 18px;
    }
    .contacts__title-form,
    .network__title {
        font-size: 18px;
    }

    .network__title {
        margin-bottom: 7px;
    }
    .network__list {
        margin-bottom: 41px;
    }
    #map {
        margin-bottom: 18px;
        height: 320px;
    }
    .footer {
        padding: 9px 0;
    }
    .footer-logo {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-logo,
    .footer-logo__top,
    .footer-logo__bottom {
        max-width: 97px;
    }
    .logo__item,
    .logo__item svg {
        max-width: 25px;
        max-height: 25px;
    }
    .choices {
        margin-bottom: 40px !important;
    }

}

@media (max-width: 320px) {
    .main-container {
        max-width: 320px;
    }
    .contacts-info .main-container {
        margin: 0;
        padding: 0 14px;
        width: 100%;
    }
    .logo__item {
        margin-right: 12px;
    }
    .contacts__input {
        padding: 10px 24px;
    }
    .header-top__search {
        width: 16px;
        height: 16px;
    }
}